<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en" data-bs-theme="dark">
<head>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <title>Main page</title>
</head>
<body>
<div th:insert="~{fragments/menu :: menu}"></div>
<th:block th:replace="~{fragments/body :: body}"></th:block>

<div>
    <h1>Welcome!</h1>
    <div sec:authorize="isAuthenticated()">
        <p>Logged user: <span sec:authentication="name"></span></p>
        <p>Roles: <span sec:authentication="principal.authorities"></span></p>
    </div>
</div>
</body>
</html>
